/* GENERAL*/
body, html, p{
  font-family: "favorit-regular";
}
body{
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

h1{
  font-family: "favorit-underline";
}


/*barre du haut*/
.header, .header-about{
  padding: 0% 1.5%;
  z-index: 100;
}


.lien-index{
  position: fixed;
  padding-top: 1%;
 }

.lien-contact{
  position: fixed;
  /* top: 0; */
  right: 0;
  margin-right: 1.5%;
  padding-top: 1%;
 }
.lien-index > a, .lien-contact > a{
  font-family: "favorit-underline";
  text-decoration: none;
  color: white;
}

.header-about > .lien-index > a, .header-about > .lien-contact > a {
  color: black;
}

.lien-index > a, .lien-contact >a{
  font-size: 2.5em;
}

.contact > a, p.txtplusgros{
  font-size: 1.2em;
}

p.txtplusgros > a {
  font-size: 1em;
}

.header > a:hover, a:hover{
  text-decoration: none;
  color: magenta;
}

.header-about > .lien-index > a:hover, .header-about > .lien-contact > a:hover{
  text-decoration: none;
  color: magenta;
}

.container > .row > .contact > a, .container > .row > .contact > .txtplusgros > a {
  color: black;
  text-decoration: none;
}

.container > .row > .contact > a:hover, .container > .row > .contact > .txtplusgros > a:hover {
  text-decoration: none;
  color: magenta;
}

.lien-header-droite{
  float: right;
}

/*page contact*/
.container{
  padding-right: 1.5%;
  padding-left: 1.5%;
  margin-right: 0;
  margin-left: 0;
}

.presentation{
  width: 40%;
  display: block;
  float: left;
  font-size: 1.2em;
}
.presentation, .contact{
  margin-top: 6%;
}
.presentation > p, .contact > a {
  margin-top: 0px;
  /*line-height: 0.7em;*/
}

.presentation > p{
}

.contact > p{
margin-top: 0.5em;
}
.contact{
  text-align: right;
  /* width: 49%; */
  display: block;
  float: right;
}

img{
  width: 100%;
  margin-bottom: 0.7%;
}


/* GESTION DES TYPOS*/
@font-face {
  font-family: "favorit-underline";
  src: url("../fonts/Favorit_Regular_Underline.ttf");
}

@font-face {
  font-family: "favorit-regular";
  src: url("../fonts/Favorit_Regular.ttf");
}

@media (max-width: 990px) {
  .header > a{
    font-size: 4.5em;
  }
  .presentation > p{
    font-size: 4em;
  }
  .presentation{
    width: 100%;
    margin-top: 10%;
  }
  .contact {
    text-align: left;
    /* width: 49%; */
    display: block;
    float: left;
}
.contact > a, p.txtplusgros {
    font-size: 3.5em;
}

}
