/* GENERAL*/
body, html, p{
  font-family: "favorit-regular";
}

h1{
  font-family: "favorit-underline";
}



/*barre du haut*/
.header{
  padding: 1% 1.5%;
}

.header > a, a{
  font-family: "favorit-underline";
  text-decoration: none;
  color: black;
}

.header > a{
  font-size: 2.5em;
}

.contact > a, p.txtplusgros{
  font-size: 1.2em;
}

p.txtplusgros > a {
  font-size: 1em;
}

.header > a:hover, a:hover{
  text-decoration: none;
  color: magenta;
}

.lien-header-droite{
  float: right;
}

/*page contact*/
.container{
  padding-right: 1.5%;
  padding-left: 1.5%;
  margin-right: 0;
  margin-left: 0;
}

.presentation{
  width: 40%;
  display: block;
  float: left;
  font-size: 1.2em;
}
.presentation, .contact{
  margin-top: 3%;
}
.presentation > p, .contact > a {
  margin-top: 0px;
  /*line-height: 0.7em;*/
}

.presentation > p{
}

.contact > p{
margin-top: 0.5em;
}
.contact{
  text-align: right;
  /* width: 49%; */
  display: block;
  float: right;
}


/* GESTION DES TYPOS*/
@font-face {
  font-family: "favorit-underline";
  src: url("../fonts/Favorit_Regular_Underline.ttf");
}

@font-face {
  font-family: "favorit-regular";
  src: url("../fonts/Favorit_Regular.ttf");
}

@media (max-width: 990px) {
  .header > a{
    font-size: 4.5em;
  }
  .presentation > p{
    font-size: 4em;
  }
  .presentation{
    width: 100%;
    margin-top: 10%;
  }
  .contact {
    text-align: left;
    /* width: 49%; */
    display: block;
    float: left;
}
.contact > a, p.txtplusgros {
    font-size: 3.5em;
}

}
